html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  height: 980px;
  margin: 0;
  padding: 0;
  font: 14px sans-serif; 
}
.wrapper {
    text-align:left;
    padding: 20px;
    width: 350px;
}

/* Errors */
.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}
